<header>
    <div class="container">
        <div class="links-left">
            <p>skateboards</p>
            <p>tops</p>
            <p>pantalons & joggers</p>
            <p>accessories</p>
        </div>
        <div class="logo">
            <img src="assets/images/logo-Biome.avif" alt="logo">
        </div>
        <div class="links-right">
            <img src="assets/images/icons/search.svg" alt="search">
            <p>account</p>
            <p>cart</p>
        </div>
    </div>
</header>
